# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.sln
dx11_renderer/example_renderer.h
dx11_renderer/example_renderer.cpp
*.recipe
*.log
*.tlog
*.enc
*.idb
*.pdb
*.ilk
*.iobj
*.ipdb
.vs/dx11_renderer/v16/.suo
.vs/dx11_renderer/v16/.suo
.vs/dx11_renderer/v16/.suo
.vs/dx11_renderer/v16/.suo
.vs/dx11_renderer/v16/.suo
*.exp
dx11_renderer/x64/Debug/dx11_renderer.vcxproj.FileListAbsolute.txt
.vs/dx11_renderer/v16/.suo
enc_temp_folder/c169f4fb88ac2a6df92353bb0f9b8b8/widgets.h
